<div class="card">
    <div class="card-header">Prekių sąrašas</div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Nr.</th>
                <th>Pavadinimas</th>
                <th>Kiekis</th>
                <th></th>
            </tr>
            <tbody>
                <tr *ngFor="let product of products; let i=index">
                    <td>{{i+1}}. </td>
                    <td>{{product.name}}</td>
                    <td>{{product.count}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary " (click)="removeProduct(i)">Ištrinti</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
