<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="list-group">
            <a routerLink="/" class="list-group-item list-group-item-action">Peržiūrėti prekes</a>
            <a routerLink="/add" class="list-group-item list-group-item-action">Pridėti naują prekę</a>
          
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>